# Back4App Credenciais
BACK4APP_APP_ID=ptRlXeyBd8VeoPnFwMiJU9kADdlJA3J0zQ8AFTO9
BACK4APP_REST_KEY=i1xNyuJQyfS7YEz0CwAqQuv10lhvA3CossjRYpaV
BACK4APP_MASTER_KEY=SzBViRgjtmSQPLxBA7ARRJdhgeUdehiB4BWV69eb
BACK4APP_URL=https://parseapi.back4app.com

# Configurações da API
NODE_ENV=production
PORT=3000
HOST=0.0.0.0